body {
	background-color: #111;
	transition: 0.5s;
	background: url(../img/background-img.jpg) center center no-repeat;
	background-size: cover;
}
@font-face {
	font-family: 'iconfont';
	src: url('fonts/iconfont.eot');
	/* IE9*/
	src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	/* IE6-IE8 */
	url('fonts/iconfont.woff') format('woff'),
	/* chrome、firefox */
	url('fonts/iconfont.ttf') format('truetype'),
	/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('fonts/iconfont.svg#uxiconfont') format('svg');
	/* iOS 4.1- */
}
.iconfont {
	position: absolute;
	font-family: "iconfont" !important;
	font-style: normal;
	transition: 0.3s;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0;
	-moz-osx-font-smoothing: grayscale;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.front {
	color: #66ab70;
	transition: color 0.3s ease;
}
.back {
	color: #5a9662;
	transition: 0.3s;
}
