*,
html,
body {
    font-size: 12px;
    font-family: 'Microsoft Yahei', '微软雅黑';
    text-shadow: 0 5px 5px #000;
    padding: 0;
    margin: 0;
}
body {
    background-color: #111;
    transition: 0.5s;
    background: url(../img/path.jpg) no-repeat;
}
.cir_title {
    color: white;
    position: relative;
    text-align: center;
}
@font-face {
    font-family: 'iconfont';
    src: url('yfonts/iconfont.eot');
    /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'),
    /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#uxiconfont') format('svg');
    /* iOS 4.1- */
}
.iconfont {
    position: absolute;
    font-family: "iconfont" !important;
    font-style: normal;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.transfer,
.hangLabel {
    position: absolute;
    color: #ff8406;
    width: 310px;
}
.transfer i,
.hangLabel i {
    font-style: normal;
    font-size: 36px;
    margin-right: 30px;
}
.transfer p,
.transfer font,
.hangLabel p,
.hangLabel font {
    color: white;
    font-style: normal;
    font-size: 36px;
}
/** for circle **/

.front {
    transition: color 0.3s ease;
}
.back {
    transition: 0.3s;
}
/** for circle **/

/** plane and flame **/

.halo {
    -webkit-animation: halos 10s linear infinite;
}
.plane,
.flame,
.circle {
    -webkit-animation: plane 10s linear infinite;
}
/** plane and flame **/

/*  thirteen water */

.water_top_1 {
    -webkit-animation: water_top_1 5s linear infinite;
}
.water_top_1_left {
    -webkit-animation: water_top_1_left 5s linear infinite;
}
.water_top_1_right {
    -webkit-animation: water_top_1_right 5s linear infinite;
}
.water_middle_left {
    -webkit-animation: water_middle_left 5s linear infinite;
}
.water_bottom_1_left {
    -webkit-animation: water_bottom_1_left 5s linear infinite;
}
.water_bottom_1_right {
    -webkit-animation: water_bottom_1_right 5s linear infinite;
}
.water_top_2 {
    -webkit-animation: water_top_2 5s linear infinite;
}
.water_top_2_left {
    -webkit-animation: water_top_2_left 5s linear infinite;
}
.water_top_2_right {
    -webkit-animation: water_top_2_right 5s linear infinite;
}
.water_middle_1_left {
    -webkit-animation: water_middle_1_left 5s linear infinite;
}
.water_middle_1_right {
    -webkit-animation: water_middle_1_right 5s linear infinite;
}
.water_middle_2_left {
    -webkit-animation: water_middle_2_left 5s linear infinite;
}
.water_middle_2_right {
    -webkit-animation: water_middle_2_right 5s linear infinite;
}
/*  thirteen water */

/** animate set **/

@-webkit-keyframes halos {
    from {
        -webkit-transform: rotate(-180deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
@-webkit-keyframes plane {
    0% {
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0.0, 0.0, 0.1, 0deg);
    }
    35% {
        -webkit-transform: translate3d(580px, 15px, 0) rotate3d(0.0, 0.0, 0.1, 3deg);
    }
    50% {
        -webkit-transform: translate3d(860px, 35px, 0) rotate3d(0.0, 0.0, 0.1, 6deg);
    }
    60% {
        -webkit-transform: translate3d(1060px, 60px, 0) rotate3d(0.0, 0.0, 0.1, 12deg);
    }
    100% {
        -webkit-transform: translate3d(1900px, 310px, 0) rotate3d(0.0, 0.0, 0.1, 25deg);
    }
}
@-webkit-keyframes water_top_1 {
    from {
        left: 925px;
        top: 499px;
    }
    to {
        top: 645px;
    }
}
@-webkit-keyframes water_top_1_left {
    0% {
        -webkit-transform: translate3d(-100px, 0, 0);
    }
    80% {
        -webkit-transform: translate3d(-605px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-605px, 155px, 0);
    }
}
@-webkit-keyframes water_top_1_right {
    0% {
        -webkit-transform: translate3d(100px, 0, 0);
    }
    80% {
        -webkit-transform: translate3d(560px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(570px, 155px, 0);
    }
}
@-webkit-keyframes water_middle_left {
    from {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 515px, 0);
    }
}
@-webkit-keyframes water_bottom_1_left {
    from {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    to {
        -webkit-transform: translate3d(-255px, 0, 0);
    }
}
@-webkit-keyframes water_bottom_1_right {
    from {
        -webkit-transform: translate3d(0, 0px, 0);
    }
    to {
        -webkit-transform: translate3d(255px, 0, 0);
    }
}
@-webkit-keyframes water_top_2 {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 80px, 0);
    }
}
@-webkit-keyframes water_top_2_left {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    60% {
        -webkit-transform: translate3d(-180px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-190px, 65px, 0);
    }
}
@-webkit-keyframes water_top_2_right {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    60% {
        -webkit-transform: translate3d(180px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(190px, 65px, 0);
    }
}
@-webkit-keyframes water_middle_1_left {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(-310px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-310px, 395px, 0);
    }
}
@-webkit-keyframes water_middle_1_right {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: translate3d(175px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(175px, 365px, 0);
    }
}
@-webkit-keyframes water_middle_2_left {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: translate3d(-175px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-175px, 365px, 0);
    }
}
@-webkit-keyframes water_middle_2_right {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: translate3d(335px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(335px, 365px, 0);
    }
}
/** animate set **/

/*** loader ***/

.loader,
.loader:before,
.loader:after {
    background: #FFF;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
}
.loader {
    position: fixed;
    left: 1908;
    top: 1926px;
    font-size: 11px;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
}
.loader:after {
    left: 1.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #FFF;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #FFF;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
